.flow {
  &__content {
    display: flex;
    align-items: center;
    color: #B4BDC3;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 40px;

    &-arrow {
      width: 16px;
      height: 16px;
    }
  }
}
