.slider {
  width: 1136px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__button {
    width: 32px;
    height: 32px;
    color: #313237;
    background-color: white;
    border: 1px #E2E6E9 solid;

    &:hover {
      &:not(:disabled) {
        border-color: #313237;
      }
    }
  }

  &__navigation {
    display: flex;
    gap: 16px;
  }

  .text-block {
    &__content {
      display: flex;
      flex-direction: column;
      padding: 96px 160px 96px 96px;
      flex: 1;
      color: #fff;
      max-width: 50%;
      background-color:  rgb(34, 34, 34);
      border-radius: 30px;

      &-title {
        margin-bottom: 24px;
        color: rgb(137, 28, 232);
      }

      &-text {
        font-weight: 700;
        color: #AEAEAE;
      }

      &-button {
        border: 2px solid rgb(68, 68, 68);
        border-radius: 30px;
        background-color: rgb(34, 34, 34);
        padding: 24px;
      }
    }
  }

  .image-block {
    flex: 1;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}






