.category-card {
  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__image {
    width: 368px;
    height: 368px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.56px;
    color: #313237;
  }

  &__count {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #89939A;
  }
}
