$breakpoint-mobile: 0;
$breakpoint-tablet: 639px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{($breakpoint-tablet + 1)}) and (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
