.home {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__shop-category {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-page {
      display: flex;
      gap: 16px;
    }
  }
}
