.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px #E2E6E9 solid;

  &__content {
    display: flex;
    align-items: center;
    gap: 24px;

    &-icon {
      padding: 0 24px;
    }
  }

  &__product {
    display: flex;

    &-icon {
      padding: 21px 24px;
    }
  }
}

.product__link {
  padding: 0;
}

