.breadcrumb {
  max-width: 1136px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.breadcrumb .crumb::after {
  content: '>';
  color: #89939A;
  text-align: center;
  width: 16px;
}

.breadcrumb .crumb:last-child::after {
  display: none;
}

.crumb {
  display: flex;
  align-items: center;
  gap: 8px;

  &__link {
    display: flex;
    align-items: center;
    color: #313237;
  }

  &__separator {
    text-align: center;
    width: 16px;
  }

  &__text,
  &__separator {
    color: #89939A;
  }
}

.active {
  color: #89939A;
}
