.breadcrumb {
  display: none;
  max-width: 1136px;
  margin-top: 24px;
  margin-bottom: 40px;
  gap: 8px;

  &__link {
    color: #313237;
    height: 16px;
  }
}

.breadcrumb,
.crumb::after {
  content: '>';
  color: #89939A;
  text-align: center;
  align-items: center;
}

.breadcrumb .crumb:last-child::after {
  display: none;
}

.crumb {
  display: flex;
  align-items: center;
  gap: 8px;

  &__separator {
    text-align: center;
    width: 16px;
  }

  &__text,
  &__separator {
    color: #89939A;
  }
}

.active {
  display: flex;
  color: #89939A;
}
