@import '../../../styles/mixins';

.footer {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    max-width: 1136px;
    margin: 0 auto;
    padding: 32px 0;

    @include mobile {
      flex-direction: column;
      align-items: start;
      padding: 32px 16px;
      gap: 32px;
    }
  }

  &__logo {
    display: flex;
    align-items: start;
  }

  &__nav {
    width: 378px;

    &-list {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        gap: 16px;
      }
    }

    &-link {
      color: #89939A;
    }
  }

  &__back-to-top {
    display: flex;
    align-items: center;
    color: #89939A;
    gap: 16px;

    @include mobile {
      width: 100%;
      justify-content: center;
    }
  }
}


