.footer {
  min-width: 100%;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
  }

  &__nav {
    width: 378px;

    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-link {
      color: #89939A;
    }
  }

  &__back-to-top {
    display: flex;
    align-items: center;
    color: #89939A;
  }
}
