@import '../../../styles/mixins';

.product {
  display: flex;
  flex-direction: column;
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 32px;

  @include tablet {
    padding: 0 24px;
  }

  @include tablet {
    padding: 0 16px;
  }

  &__go-back {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 66px;
    gap: 4px;
    margin-bottom: 16px;

    &-text {
      color: #89939A;
      font-size: 12px;
      font-weight: 700;
      line-height: 15.34px;
    }
  }

  &__content {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    gap: 64px;
    margin-bottom: 80px;

    @include tablet {
      flex-direction: column;
      gap: 64px;
    }

    @include mobile {
      flex-direction: column;
      gap: 56px;
    }
  }

  &__media {
    display: flex;
    gap: 64px;

    @include tablet {
      gap: 17px;
    }

    @include mobile {
      flex-direction: column;
      gap: 40px;
    }

    &-indeficator {
      font-size: 12px;
      font-weight: 700;
      line-height: 15.34px;
      color: #B4BDC3;
    }
  }

  &__slider {
    margin-bottom: 80px;
  }

  &__main-image {
    width: 464px;
    height: 464px;
    padding: 11px;

    & img {
      width: 100%;
      height: 100%;
      margin: auto;
      object-fit: contain;
    }
  }
}


