.category-page {
  &__title {
    margin-bottom: 8px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    width: 1136px;
    gap: 40px 16px;
    margin-bottom: 40px;
  }

  &__models-count {
    color: #89939A;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
  }
}

.category__panel {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
