@import '../../../styles/mixins';

.category-page {
  max-width: 1136px;
  margin: 0 auto 80px;
  padding: 0 32px;

  @include tablet {
    padding: 0 24px;
  }

  @include mobile {
    padding: 0 16px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    max-width: 1136px;
    gap: 40px 16px;
    margin-bottom: 40px;
  }

  &__models-count {
    color: #89939A;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
  }

  &__sort-panel {
    display: flex;
    margin: 40px 0 24px;
    gap: 16px;

    @include mobile {
      margin: 32px 0 24px;
    }
  }
}
